<div class="w-screen bg-common-main-bg-color min-h-screen sm:overflow-x-hidden">
  <div class="flex flex-col-reverse  sm:flex-row ">
  <div class="flex-1 sm:min-h-screen flex-col flex justify-center items-center gap-3 w-[70%] ">
    <h1 class="text-common-primary-font-color text-[30px] font-semibold">Register</h1>
    <app-common-input ></app-common-input>
    <app-common-input></app-common-input> 
  </div>
  <div class="flex-1 sm:min-h-screen flex-col flex justify-center items-center gap-3">
    <img class="w-[70%] mt-5 sm:mt-0" src="https://img.freepik.com/free-vector/two-factor-authentication-concept-illustration_114360-5280.jpg?t=st=1728229072~exp=1728232672~hmac=5ed1fbb3f833742597c09804977ca6c2c7f9a9006b79e7bea8dd4a0390657c08&w=740" alt="">
  </div>
</div>
</div> 